 .Header{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 2px solid white;

    .logo{
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: center;
        gap: 20px;
        h1{
            color: #1d4568;
        }
        span{
            font-size: 25px;
            color: black;
        }
     }
 }
 